*{
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
    gap: 20px;
}

#color-box{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin-bottom: 2%;
}

#change-color-btn{
    border: 0px;
    border-radius: 15px;
    padding: 10px;
    font-weight: bold;
    box-shadow: 0px 9px 9px rgba(0, 0, 0, 0.274);
    
}
